<%if @not_found%>
    <h2>Skill not found</h2>
<% else %>
    <h2>Users proficient at <%= @skill.name %> </h2>

    <div>
    <%@users.each do |user|%>
        <div><%=user.name%></div>
    <%end%>
    </div>
<% end %>