<div class="container">
    <%if @not_found%>
        <h2>Skill not found</h2>
    <% else %>

        <%=link_to "Back", :back, class:"back"%>
        <h2>Users interested in <span class="item"> <%= @skill.name %> </span> </h2>

        <div class="users">
        <%@users.each do |user|%>
            <%=link_to user.name, user_path(id: user.id), class: "user item"%>
        <%end%>
        </div>
    <% end %>
</div>